@model IEnumerable<OnlineShoppingSystem.Models.ProductOrder>
@{
    ViewBag.Title = "checkout";
    //ViewData["Title"] = "checkout";
    Layout = "~/Views/Shared/CustomerPageLayout.cshtml";
}
<link rel="stylesheet" href="~/css/Index.css" />
@section head{
    <style type="text/css">
        body {
            background-image: url('/Backgrndimg/Online.jpg');
            background-repeat: no-repeat;
            background-size: cover;
            margin: 0;
        }
    </style>
}
<input type="submit" value="Customer ID:@ViewBag.uid" />
<h1 align="center">List of My Orders & Confirmation</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OrderId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Productname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderedDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OrderId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Productname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderedDate)
            </td>
            <td>
                <a asp-action="CartEdit" asp-route-id="@item.OrderId">Edit</a>
                <a asp-action="CartDelete" asp-route-id="@item.OrderId">Delete</a>

            </td>
            <td>
                <a asp-controller="MyProductCart" asp-action="PaymentDetails" asp-route-id="@item.OrderId">

                    <input type="submit" value="Pay" class="btn btn-primary" />

                </a>
            </td>

        </tr>
            
           
            

        }
    </tbody>
    </table>




