@model OnlineShoppingSystem.Models.Product
@{
    ViewData["Title"] = "MyCart";
    Layout = "~/Views/Shared/CustomerPageLayout.cshtml";
}
<link rel="stylesheet" href="~/css/Index.css" />
@section head{
    <style type="text/css">
        body {
            background-image: url('/Backgrndimg/Online.jpg');
            background-repeat: no-repeat;
            background-size: cover;
            margin: 0;
        }
    </style>
}
<h1 align="center">Welcome To My Cart Page</h1>
<input type="submit" value="Customer ID:@ViewBag.uid" />
<br />
<br />
<br />
@using (@Html.BeginForm())
{


    <table cellpadding="2" cellspacing="2" border="1" width="25" height="25">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Image</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Buy</th>

        </tr>
        <tr>
            <td>@Model.ProductId</td>
            <td>@Model.ProductName</td>
            <td>
                <span><img src="@("~/Image/"+Model.ProductImage)" asp-append-version="true" width="100" height="100" /></span>
            </td>
            <td>@Model.Price</td>
            <td>
                <input type="number" min="1" max="10" name="qty" />
            </td>
            <td><input type="submit" value="Buy" class="btn btn-warning" /></td>

        </tr>

    </table>

}
