@model IEnumerable<OnlineShoppingSystem.Models.Product>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/HomePage.cshtml";
}
@section head{
    <style type="text/css">
        body {
            background-image: url('/Backgrndimg/bg img.jpg');
            background-repeat: no-repeat;
            background-size: cover;
            margin: 0;
        }
    </style>
}

<link rel="stylesheet" href="~/css/product.css" />

<h1 align="center">Welcome To OnlineShopping System</h1>
@foreach (var item in Model)
{
    <div class="col-4 float-left  h-20 w-20">

        <div class="card h-100 w-100">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">
                    @*<label style="font-size:23px;color:steelblue"> @Html.DisplayNameFor(model => model.ProductName)</label>*@
                    <label style="font-size: 20px; font-family: 'Times New Roman', Times, serif; color: steelblue">@Html.DisplayFor(modelItem => item.ProductName) </label>
                </h4>
            </div>
            <div>
                <img src="@("~/Image/"+item.ProductImage)" asp-append-version="true" alt="Card Iamge" class="card-img-top" width="50" height="100 " />
            </div>
            <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <p1 style="font-size: 20px; font-family: 'Times New Roman', Times, serif;color:black ">Description:</p1><label style="font-size: 20px; font-family: 'Times New Roman', Times, serif; color: orangered">@Html.DisplayFor(modelItem => item.Description)</label>
                </div>
            </div>
            <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <p1 style="font-size: 20px; font-family: 'Times New Roman', Times, serif;color:black ">Features:</p1> <label style="font-size: 20px; font-family: 'Times New Roman', Times, serif; color: blueviolet">@Html.DisplayFor(modelItem => item.Features)</label>
                </div>
            </div>
            <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <p1 style="font-size: 20px; font-family: 'Times New Roman', Times, serif;color:black ">Stocks:</p1>  <label style="font-size: 20px; font-family: 'Times New Roman', Times, serif; color:orangered">@Html.DisplayFor(modelItem => item.AvailableProduct)</label>
                </div>
            </div>
            <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <p1 style="font-size: 20px; font-family: 'Times New Roman', Times, serif;color:black ">Price:</p1>   <label style="font-size: 20px; font-family: 'Times New Roman', Times, serif; color: blue">@Html.DisplayFor(modelItem => item.Price)</label>
                </div>
            </div>
            <form asp-controller="Customer" asp-action="CustomerLogin" method="get">
                <div class="form-group">
                    <input type="submit" value="Buy" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>


}
