@model IEnumerable<OnlineShoppingSystem.Models.Product>

@{
    ViewData["Title"] = "Search";
    Layout = "~/Views/Shared/RetailerPage.cshtml";
}
<link rel="stylesheet" href="~/css/Index.css" />
@section head{
    <style type="text/css">
        body {
            background-image: url('/Backgrndimg/Retailer.jpeg');
            background-repeat: no-repeat;
            background-size: cover;
            margin: 0;
        }
    </style>
}

<link rel="stylesheet" href="~/css/Index.css" />
<p>@ViewBag.Message</p>
<h1 align="center">Welcome To Products DashBoard</h1>
<p>
    <a asp-action="Create">Add New Products</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductImage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Features)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AvailableProduct)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category.CategoryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Retailer.RetailerName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>

                    <img src="@("~/Image/"+item.ProductImage)" asp-append-version="true" width="100" height="100" />

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Features)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AvailableProduct)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.CategoryId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Retailer.RetailerId)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ProductId">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.ProductId">Delete</a>|
                    <a asp-action="Index">Back</a>

                </td>
            </tr>

        }

    </tbody>
</table>
